.top_shortcut {
    float: right;
    font-family: "FuturaPTWebBook", "Montserrat", sans-serif;
}

.shortcut_logo {
    bottom: 17%;
    right: 5%;
    position: fixed;
}

@media (min-width: 768px) {     /*HIDE SM QUERIES; DISPLAY MD QUERIES*/
    .shortcut_logo {
        width: 28px;
        height: 28px;
        bottom: 7rem;
        right: 12.5%;
    }
}
