.shortcut_logo {
    width: 45px;
    height: 45px;
    bottom: 40px;
    left: 44vw;
    position: fixed;
}

/*md breakpoint*/
@media (min-width: 768px) {
    .shortcut_logo {
        width: 36px;
        height: 36px;
        bottom: 116px;
        left: auto;
        right: 10%;
    }
}
