#intro {
    width: 100vw;
    min-height: 100vh;
    padding-top: 8%;
}

.intro_text, .intro_experience {
    margin: 15px 10% 0 10%;
}

.jump_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.jump {
    margin: 0 auto;
    transition: margin 0.15s ease-out;
    -webkit-transition: margin 0.15s ease-out;
    -moz-transition: margin 0.15s ease-out;
    -o-transition: margin 0.15s ease-out;
}

.jump:hover {
    margin-top: 7px;
}

#projects {
    width: 100%;
    padding-top: 100px;
}

/*md breakpoint*/
@media (min-width: 768px) {
    .intro_text {
        margin: 40px 24% 0 24%;
    }
    .intro_experience {
        margin: 25px 24% 0 24%;
    }
}

/*lg breakpoint*/
@media (min-width: 1024px) {
    #intro {
        padding-top: 24vh;
    }
    .intro_text, .jump_container {
        width: 300px;
        height: auto;
    }
    .intro_experience {
        width: 350px;
    }
    .intro_text {
        margin: 0 0 0 17vw;
    }
    .intro_experience {
        margin: 30px 0 0 17vw;
    }
    #projects {
        padding-top: 140px;
    }
}
