@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

p {
    font-family: "Montserrat", sans-serif;
    color: #1a1a1a;
}

body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {      /*container for ulatrawide screens*/
    max-width: 1920px;
    margin: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #F0F0F0;
}

::-webkit-scrollbar-thumb {
    background: #004080;
}

::-webkit-scrollbar-thumb:hover {
    background: #00366D;
}
