/*@font-face {
    font-family: "Poppins Regular";
    src:local('Poppins Regular'),
        url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Poppins Light";
    src:local('Poppins Light'),
        url('../fonts/Poppins-Light.ttf') format('truetype');
}*/

@font-face {
    font-family: "Object Sans Regular";
    src:local('Object Sans Regular'),
        url('../fonts/ObjectSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: "Object Sans Light";
    src:local('Object Sans Light'),
        url('../fonts/ObjectSans-Light.otf') format('opentype');
}

body {
    font-family: "Object Sans Regular", sans-serif;
    /*font-family: "Poppins Regular", sans-serif;*/
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #1a1a1a;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 125%;
}

h1, h2, h3, h6 {
    color: #004080 !important;
}

h5 {
    font-size: 1.15em;
}

h6 {
    font-size: 0.95em;
}

p {
    font-family: "Object Sans Light", sans-serif;
    /*font-family: "Poppins Light", sans-serif;*/
}

a {
    font-family: "Object Sans Regular", sans-serif;
    /*font-family: "Poppins Regular", sans-serif;*/
}

a:hover {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/*ultrawide container*/
.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}

/*scrollbar styling*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #004080;
}

::-webkit-scrollbar-thumb {
    background: #FFFFFF;
}

::-webkit-scrollbar-thumb:hover {
    background: #C4C4C4;
}
