.loading {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: 100vh;
    padding-top: 96px;
}

.loadingContainer {
    width: 78%;
    margin: 96px auto;
}

/* md breakpoint */
@media (min-width: 768px) {
    .loadingContainer {
        width: 75%;
    }
}

/* lg breakpoint */
@media (min-width: 992px) {
    .home {
        width: 58.5%;
        padding-left: 10%;
        margin-left: 0;
    }
    .loadingContainer {
        width: 40%;
        margin-left: 22%;
    }
}
