.loading {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: 100vh;
    padding-top: 96px;
}

.loadingMsg {
    color: #404040;
}

/* lg breakpoint */
@media (min-width: 992px) {
    .home {
        width: 58.5%;
        padding-left: 10%;
        margin-left: 0;
    }
}
