.highlight {
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.hightlight_indent {
    margin-left: 10px;
}

.indented {
    margin-left: 1.75em;
}

.project {
    width: 100%;
    padding-bottom: 3rem;
}

.project_card {
    border-radius: 10px;
    margin: 0;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(42, 42, 42, 0.16);
    -webkit-box-animation: 0 0 8px rgba(42, 42, 42, 0.16);
    -webkit-box-shadow: 0 0 8px rgba(42, 42, 42, 0.16);
}

.project_card:hover {
    cursor: url('../components/Carousel/cursor_view.svg'), pointer;
    background-color: #e7e7e7;
    transition: background-color 0.2s linear;
}

.card_link:hover {
    text-decoration: none;
}

.project_content {
    max-width: 1920px;
    margin: auto;
}

.card_text {
    padding: 24px;
    padding-top: 5px;
}

.project_banner, .project_img, .img-fluid_card {
    width: 100%;
    height: auto;
    word-wrap: break-word;
}

.project_body, .img-section, .img-fluid {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.project_body {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.project_img_caption {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {     /*md breakpoint*/
    .card_text {
        padding-top: 24px;
    }
    .project_body {
        width: 85%;
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
    .img-fluid, .img-section {
        display: inline-flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .img-fluid_card {
        width: 48%;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 836px) { /*card text breakpoint*/
    .img-fluid_card > h5 {
        font-size: 0.925em;
    }
    .img-fluid_card > p {
        font-size: 0.7em;
    }
}

@media (min-width: 1024px) and (max-width: 1360px) { /*card text breakpoint*/
    .img-fluid_card > h5 {
        font-size: 0.925em;
    }
    .img-fluid_card > p {
        font-size: 0.7em;
    }
}

@media (min-width: 1024px) {        /*lg breakpoint*/
    .project_banner, .img-section {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .project_body, .img-fluid {
        width: 55%;
        margin-left: 22.5%;
        margin-right: 22.5%;
    }
}
