.highlight {
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.hightlight_indent {
    margin-left: 10px;
}

.indented {
    margin-left: 1.75em;
}

.project {
    width: 100%;
    padding-bottom: 3em;
}

.project_banner, .project_img, .img-fluid_card {
    width: 100%;
    height: auto;
    word-wrap: break-word;
}

.projects_list, .project_body, .img-section, .img-fluid {
    width: 85%;
}

.projects_list, .project_body {
    margin: 3em auto;
}

.img-section, .img-fluid {
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.project_img_caption {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {     /*md breakpoint*/
    .projects_list {
        max-width: 840px;
    }
    .img-fluid, .img-section {
        display: inline-flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .img-fluid_card {
        width: 48%;
        height: auto;
    }
}

@media (min-width: 1024px) {        /*lg breakpoint*/
    .project_banner, .img-section {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .project_body, .img-fluid {
        width: 55%;
        margin-left: 22.5%;
        margin-right: 22.5%;
    }
}
