.project-card {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    margin: 0 0 110px 0;
    overflow: hidden;
}

.card-img {
    width: 100%;
}

.card-text {
    padding: 40px 12% 0 12%;
}

/* md breakpoint */
@media (min-width: 768px) {
    .project-card {
        margin: 0 0 120px 0;
    }
    .card-img {
        height: auto;
    }
    .card-text {
        padding: 40px 20% 0 20%;
    }
}

/* lg breakpoint */
@media (min-width: 992px) {
    .project-card {
        flex-direction: row;
        width: 100%;
        margin-bottom: 250px;
        padding-left: 14vw;
    }
    .card-img, .card-text {
        margin: 0;
    }
    .card-img {
        width: 424px;
        height: auto;
        transition: margin 0.15s ease-out;
        -webkit-transition: margin 0.15s ease-out;
        -moz-transition: margin 0.15s ease-out;
        -o-transition: margin 0.15s ease-out;
    }
    .card-img:hover {
        margin-left: 16px;
    }
    .card-text {
        width: 42%;
        padding: 16px 8% 0 0;
    }
}

/* xl breakpoint */
@media (min-width: 1200px) {
    .project-card {
        padding-left: 20vw;
    }
}
