h2, .view_link {
    color: #004080;
}

.project_card {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    margin: 0 0 110px 0;
    overflow: hidden;
}

.card_img {
    width: 100%;
}

.card_text {
    padding: 40px 12% 0 12%;
}

.view_link:hover {
    color: #0180FF;
}

/*md breakpoint*/
@media (min-width: 768px) {
    .project_card {
        margin: 0 0 120px 0;
    }
    .card_img {
        height: auto;
    }
    .card_text {
        padding: 40px 20% 0 20%;
    }
}

/*lg breakpoint*/
@media (min-width: 1024px) {
    .project_card {
        flex-direction: row;
        max-width: 90%;
        margin: 0 17vw 250px 17vw;
    }
    .card_img, .card_text {
        margin: 0;
    }
    .card_img {
        max-width: 424px;
        height: auto;
        left: 0;
        transition: margin 0.15s ease-out;
        -webkit-transition: margin 0.15s ease-out;
        -moz-transition: margin 0.15s ease-out;
        -o-transition: margin 0.15s ease-out;
    }
    .card_img:hover {
        margin-left: 16px;
    }
    .card_text {
        width: 40%;
        padding: 20px 7% 0 0;
        right: 0;
    }
}
