.image {
    background-color: rgb(200, 200, 200, 0.4);
    backdrop-filter: blur(2px);
    margin: 100px auto;
    padding: 24px 0;
}

.image_caption {
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;
}
