.image {
    background-color: rgb(210, 210, 210, 0.4);
    backdrop-filter: blur(2px);
    margin: 100px auto;
    padding: 24px 0;
}

.image_caption {
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;
}

/*lg breakpoint*/
@media (min-width: 1024px) {
    .image {
        width: 85%;
        border-radius: 4px;
    }
}
