.blue {
    color: #004080;
}

.black {
    color: #1a1a1a;
}

.link, .link:hover {
    color: inherit;
    text-decoration: none;
}

.nav-home, .nav-page {
    height: 96px;
    top: 0;
    background: white;
    position: sticky;
    z-index: 10;
}

.name {
    font-size: 1.3em !important;
    font-family: "FuturaWebDemi", sans-serif !important;
}

.nav_banner {
    position: fixed;
    top: 22px;
    left: 7.5%;
    right: 7.5%;
    padding: 0;
}

.nav-desktop-home, .nav-desktop-page, .nav_right {
    display: none;
}

.mobile_nav {
    font-size: 1em !important;
    background-color: transparent;
    border: transparent;
}

.nav_drop {
    padding: 0 15px;
    background-color: white;
}

.nav_item {
    text-align: right;
    line-height: 2.5em;
    color: #004080 !important;
}

/*md breakpoint*/
@media (min-width: 768px) {
    .nav_banner {
        top: 24px;
        left: 5%;
        right: 5%;
    }
}

/*lg breakpoint*/
@media (min-width: 1024px) {
    .nav-home, .nav-page {
        background: transparent;
    }
    .nav-home {
        position: absolute;
    }
    .nav_banner {
        left: 2.7%;
        right: 2.7%;
    }
    .nav-desktop-home, .nav-desktop-page {
        font-size: 1.1em;
    }
    .nav-desktop-home {
        display: block;
        color: white !important;
    }
    .nav-desktop-page {
        display: block;
        font-weight: 700;
        color: #004080 !important;
    }
    .nav_right {
        display: flex;
    }
    .mobile_nav, .nav_drop {
        display: none;
    }
}
