.blue {
    color: #004080;
}

.link, .link:hover {
    color: inherit;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 96px;
    top: 0;
    background: white;
    position: sticky;
    z-index: 10;
}

.name {
    display: none;
}

.svm_logo {
    width: auto;
    height: 40px;
    margin-left: 4px;
}

.nav_banner {
    position: fixed;
    top: 22px;
    left: 7.5%;
    right: 7.5%;
    padding: 0;
}

.nav-desktop, .nav_right {
    display: none;
}

.mobile_nav {
    background-color: transparent;
    border: transparent;
}

.nav_drop {
    background-color: white;
}

.nav_item {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    line-height: 2.8em;
    color: #004080 !important;
}

/*md breakpoint*/
@media (min-width: 768px) {
    .nav_banner {
        top: 24px;
        left: 5%;
        right: 5%;
    }
    .name {
        display: block;
        font-size: 1.4em !important;
        text-decoration: none;
    }
    .branding {
        display: none;
    }
}

/*lg breakpoint*/
@media (min-width: 1024px) {
    .header {
        background: transparent;
        position: absolute;
    }
    .nav_banner {
        left: 2%;
        right: 2%;
    }
    .nav-desktop {
        font-size: 1.1em;
        display: block;
        color: white !important;
    }
    .nav_right {
        display: flex;
    }
    .mobile_nav, .nav_drop {
        display: none;
    }
}
