#navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100vw;
    height: 64px;
    margin: 0;
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    color: #004080;
    z-index: 10;
}

.brand {
    font-family: "Gilroy Bold", sans-serif;
    font-size: 1.4em;
    text-decoration: none;
    margin: 22px auto auto 9%;
}

.toggleBtn {
    position: absolute;
    padding: 4px;
    top: 5px;
    right: 6%;
}

.overlay {
    display: flex;
    width: 100%;
    padding-top: 1.4em;
    padding-bottom: 1em;
    background-color: #FFFFFF;
}

.desktop {
    display: none;
}

.overlay ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

.overlay li {
    list-style: none;
    width: 100%;
    text-align: center;
}

.overlay li a {
    display: block;
    font-family: "Gilroy Bold", sans-serif;
    text-decoration: none;
    padding: 1rem;
    margin: 0.5rem;
    color: #004080;
}

/* lg breakpoint */
@media (min-width: 992px) {
    #navbar {
        flex-direction: row;
        padding: 38px 3.2% 0 3.2%;
        background-color: transparent;
    }
    .brand {
        margin: 0;
    }
    .toggleBtn, .overlay {
        display: none;
    }
    .desktop {
        display: block;
        position: relative;
        font-family: "Gilroy Regular", sans-serif;
        font-size: 1.1em;
        margin: 0;
        color: #FFFFFF;
    }
}
