.footer {
    display: none;
    position: absolute;
    width: 100%;
    height: 4rem;
    bottom: 0;
    left: 0;
    padding-top: 1.4rem;
    padding-left: 3.25vw;
}

.footer_txt {
    font-family: "FuturaPTWebBook", "Montserrat", sans-serif;
}

@media (min-width: 1024px) {        /*HIDE MD QUERIES; DISPLAY LG QUERIES*/
    .footer {
        display: block;
        background-color: transparent;
        color: #004080;
    }
}