.header {
    height: 6rem;
    position: sticky;
    top: 0;
    z-index: 10;
    font-family: "FuturaPTWebLight", "Montserrat", sans-serif;
}

.navbar_left {
    font-size: 1.25rem !important;
    color: white !important;
    font-family: "FuturaWebDemi", sans-serif !important;
}

.nav_banner {
    position: fixed;
    top: 1.75rem;
    left: 7.5vw;
    right: 7.5vw;
    padding: 0;
}

.desktop_nav {
    display: none;
    font-size: 1.25rem !important;
    color: white !important;
}

.mobile_nav {
    font-size: 1rem !important;
    background-color: transparent;
}

.nav_drop {
    padding-left: 10px;
    background-color: #004080;
}

.menu_bar {
    width: 24px;
    height: 2.5px;
    background-color: white;
    border-radius: 4px;
    margin: 4px 0;
}

.nav_item {
    font-size: 0.915rem;
    line-height: 2.025rem;
    color: #ffffff !important;
    font-family: 'Montserrat';
}

@media (min-width: 768px) and (max-width: 1023px) {     /*md; iPad*/
    .nav_banner {
        left: 7.5vw;
        right: 7.5vw;
    }
}

@media (min-width: 1024px) {        /*HIDE MD QUERIES; DISPLAY LG QUERIES*/
    .desktop_nav {
        display: block;
    }
    .navbar_left {
        color: #004080 !important;
    }
    .mobile_nav {
        display: none;
    }
    .nav_drop {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {    /*lg; iPad Pro; small PC*/
    #navbarNav {
        display: none;
    }
    .nav_banner {
        left: 4.5vw;
        right: 4.5vw;
    }
}

@media (min-width: 1440px) {    /*lg; PC*/
    .nav_banner {
        left: 3.5vw;
        right: 3.5vw;
    }
}
