h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    color: #1a1a1a;
}

h1 {
    color: #004080 !important;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    color: #1a1a1a;
}

.intro_sm {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 15vh;
}

.intro_md, .intro_lg {
    display: none;
}

@media (min-width: 768px) {     /*md breakpoint*/
    .intro_sm {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {     /*md; iPad*/
    .intro_md {
        display: block;
        position: absolute;
        top: 15%;
        left: 0;
        right: 0;
        text-align: center;
        color: #004080;
    }
}

@media (min-width: 1024px) {        /*lg breakpoint*/
    .intro_lg {
        display: block;
        position: absolute;
        text-align: left;
        padding-left: 5vw;
        padding-right: 5vw;
        color: #004080;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {    /*lg; iPad Pro*/
    .intro_lg {
        top: 22.5vh;
        left: 7.5vw;
    }
}

@media (min-width: 1281px) and (max-width: 1439px) {    /*lg; desktop*/
    .intro_lg {
        top: 22.5%;
        left: 11%;
    }
}

@media (min-width: 1440px) {    /*lh; desktop*/
    .intro_lg {
        top: 23vh;
        left: 12vw;
    }
}
