.project {
    width: 100%;
    padding-bottom: 3rem;
}

.project_banner, .project_img, .img-fluid_card {
    width: 100%;
    height: auto;
}

.project_body, .img-fluid {
    width: 90%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 5%;
    margin-right: 5%;
}

.project_img_caption {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {     /*md breakpoint*/
    .project_body {
        width: 85%;
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
    .img-fluid {
        display: inline-flex;
        justify-content: space-between;
    }
    .img-fluid_card {
        width: 48%;
        height: auto;
    }
}

@media (min-width: 1024px) {        /*lg breakpoint*/
    .project_banner {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .project_body, .img-fluid {
        width: 55%;
        margin-left: 22.5%;
        margin-right: 22.5%;
    }
}
