/*---- PROPERTIES COMMON ACROSS ALL PAGES ----*/
/*----CAN BE OVERRIDDEN BY PAGE-SPECIFIC PROPERTIES ----*/

html, body {
    height: 100%;
    font-family: "FuturaPTWebLight", "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif !important;
}

h1 {
    font-size: 2rem;
}

h5 {
    font-size: 1.2rem;
}

p {
    font-family: "Nanum Gothic", "Montserrat", sans-serif !important;
    color: #1a1a1a;
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

/*----- HORIZONTAL QUERIES -----*/

@media (min-width: 768px) {     /*HIDE SM QUERIES; DISPLAY MD QUERIES*/
    h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) {        /*HIDE MD QUERIES; DISPLAY LG QUERIES*/
    p {
        font-size: 0.9rem;
    }
}
