#carousel {
    width: 80%;
    height: 52%;
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    z-index: 9;
}

.carousel-img {
    width: 100%;
    height: auto;
}

.carousel-img:hover {
    cursor: url('cursor_view.svg'), pointer;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
    background-color: #4b4b4b;
    transition: background-color 0.2s linear;
}

.carousel-control-next:hover {
    cursor: url('cursor_next.svg'), pointer;
}

.carousel-control-prev:hover {
    cursor: url('cursor_prev.svg'), pointer;
}

/*sm breakpoint*/
@media (min-width: 577px) {
    #carousel {
        width: 420px;
    }
}

/*md breakpoint*/
@media (min-width: 768px) {
    #carousel {
        width: 548px;
        height: 52.5%;
    }
}

/*lg breakpoint*/
@media (min-width: 1200px) {
    #carousel {
        width: 505px;
        height: 65%;
        left: 50.7%;
    }
}

@media (min-width: 1440px) {
    #carousel {
        width: 590px;
        height: 82.5%;
        left: 52%;
    }
}

/*ultrawide breakpoint*/
@media (min-width: 2300px) {
    #carousel {
        width: 825px;
        left: 42.5%;
    }
}

@media (min-width: 2900px) {
    #carousel {
        width: 875px;
        left: 35%;
    }
}
