#sidebar {
    display: flex;
    justify-content: space-evenly;
    width: 280px;
    height: auto;
    margin: 0 auto 32px auto;
}

.sidebar-item {
    width: 36px;
    height: 36px;
}

/* lg breakpoint */
@media (min-width: 992px) {
    #sidebar {
        flex-direction: column;
        position: fixed;
        width: auto;
        height: 40vh;
        bottom: 0;
        padding-bottom: 50px;
        margin-left: 3%;
        z-index: 9;
    }
    .sidebar-item {
        width: 32px;
        height: 32px;
        transition: margin 0.15s ease-out;
        -webkit-transition: margin 0.15s ease-out;
        -moz-transition: margin 0.15s ease-out;
        -o-transition: margin 0.15s ease-out;
    }
    .sidebar-item:hover {
        cursor: pointer;
        margin-left: 4px;
    }
}
