.block-blue {
    display: none;
}

/*lg breakpoint*/
@media (min-width: 1024px) {
    .block-blue {
        display: block;
        height: 100%;
        position: fixed;
        left: 58.33333333333333%;
        right: 0;
        bottom: 0;
        background-color: #004080;
        z-index: -900;
    }
}
