a:hover {
    text-decoration: none;
}

.link {
    color: inherit;
}

.link:hover {
    color: #0180FF;
}

#footer-home, #footer-page {
    width: 100%;
    text-align: center;
    padding-top: 0;
}

#footer-home {
    padding-bottom: 50px;
}

#footer-page {
    height: 200px;
}

.footer_txt {
    color: #004080;
}

/*md breakpoint*/
@media (min-width: 768px) {
    #footer-page {
        height: 112px;
    }
}

/*lg breakpoint*/
@media (min-width: 1024px) {
    #footer-home {
        position: relative;
        text-align: left;
        padding: 0 0 50px 3.25%;
    }
    #footer-page {
        height: 85px;
    }
}
