a:hover {
    text-decoration: none;
}

.link {
    color: inherit;
}

.link:hover {
    color: #0180FF;
}

#footer-home {
    display: none;
}

#footer-page {
    width: 100%;
    height: 112px;
    text-align: center;
    padding-top: 0;
}

.footer_txt {
    font-family: "FuturaPTWebBook", sans-serif;
    color: #004080;
}

/*lg breakpoint*/
@media (min-width: 1024px) {
    #footer-home {
        display: block;
        position: absolute;
        bottom: 2.4%;
        left: 3.25%;
    }
}
