.image {
    width: 100%;
    height: auto;
    margin: 30px auto;
}

/* md breakpoint */
@media (min-width: 768px) {
    .screen {
        width: 75%;
    }
    .item {
        width: 42%;
    }
}

/* lg breakpoint */
@media (min-width: 992px) {
    .screen {
        width: 70%;
    }
    .item {
        width: 44%;
    }
}
