.image_item {
    width: 100%;
    height: auto;
    margin: 30px auto;
}

/*md breakpoint*/
@media (min-width: 768px) {
    .image_item {
        width: 42%;
    }
}

/*lg breakpoint*/
@media (min-width: 992px) {
    .image_item {
        width: 38%;
    }
}
