.image {
    width: 100%;
    height: auto;
    margin: 30px auto;
}

/*md breakpoint*/
@media (min-width: 768px) {
    .item {
        width: 42%;
    }
}

/*lg breakpoint*/
@media (min-width: 992px) {
    .item {
        width: 38%;
    }
}
