.clear {
    background-color: transparent;
}

.glass {
    background-color: rgb(210, 210, 210, 0.4);
    backdrop-filter: blur(2px);
}

.image {
    margin: 100px auto;
    padding: 24px 0;
}

/*lg breakpoint*/
@media (min-width: 1024px) {
    .image {
        width: 75%;
        border-radius: 10px;
    }
}
