.container {
    width: 85%;
    margin: 90px auto 90px auto;
    padding-left: 26px;
    border-width: 6px;
    border-radius: 4px;
}

.bordered {
    border-left: #7C6900 solid;
}

.borderless {
    border-left: transparent;
}

/* md breakpoint */
@media (min-width: 768px) {
    .container {
        width: 75%;
    }
}

/* lg breakpoint */
@media (min-width: 992px) {
    .container {
        width: 40%;
        margin-left: 22%;
        padding-left: 24px;
    }
}
