.indent_nobar {
    width: 80%;
    margin: 80px auto;
}

/*md breakpoint*/
@media (min-width: 768px) {
    .indent_nobar {
        width: 75%;
    }
}

/*lg breakpoint*/
@media (min-width: 992px) {
    .indent_nobar {
        width: 38%;
        margin-left: 24%;
    }
}
