.container {
    width: 100%;
    min-height: 65vh;
    margin: 160px auto 80px auto;
    padding: 0;
}

/* lg breakpoint */
@media (min-width: 992px) {
    .container {
        margin: 196px auto 80px auto;
    }
}
