.project {
    width: 100%;
    min-height: 65vh;
    margin: 0 auto 80px auto;
    padding: 0;
}

/*lg breakpoint*/
@media (min-width: 992px) {
    .project {
        margin: 196px auto 80px auto;
    }
}
