.container {
    width: 78%;
    margin: 96px auto;
}

/* md breakpoint */
@media (min-width: 768px) {
    .container {
        width: 75%;
        margin: 72px auto;
    }
}

/* lg breakpoint */
@media (min-width: 992px) {
    .container {
        width: 40%;
        margin: 72px 0 72px 22%;
    }
}
